.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-color: #e0e0e0;
    width: 600px;
    border-radius: 8px;
    min-height: 30px;
    padding: 10px 15px;
}

@media screen and (max-width: 740px) {
    .container{
        width: 300px;
        justify-content: center;
    }
}
@media screen and (max-width: 320px) {
    .container{
        width: 260px;
        justify-content: center;
    }
}